*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    max-width: 1024px;


}

/*----- Header -----*/
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100vw;
    background-image: linear-gradient(#6B70FF, #8F96FF);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
}
.menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding:10px 10px 10px 10px;

}
.menu > li {
    border:1px solid black;
    padding: 10px;
    margin: 0 10px 0 10px;
    

}


/*----- Body -----*/
.main{
    left:50%;
    width: 100vw;
    padding: 24px;
}
.main > div{
    background-color: aquamarine;
    border: 1px solid black;
    width: 60%;
    max-width: 880px;
    padding: 12px;
    margin: 0 auto 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game{
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    display: none;
    margin: 32px auto 0 auto;
}
.prompt-detail{
    
}
.user-choice{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;

}
.user-choice > h1 {
    height: 80px;
    max-width: 120px;
    min-width: 80px;
    border: 1px solid black;
    border-radius: 10%;
    margin: 10px 24px 10px 24px;
    text-align: center;
    top: 50%;  
}
